// Specific CSS for your home-page

body {
font-family: "Montserrat";
}

.bg-image {
  background-image: url("https://res.cloudinary.com/dzznfliwu/image/upload/v1668615415/Progresso%20Fit/pexels-tima-miroshnichenko-6388387-2_j5wmjg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#title {
  background-color: #000000
}

.container-fluid {
  padding: 3% 10%;
}

.h1-home {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 20%;
}

.h2-home {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

.h3-home {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.p-home {
  color: $gray;
}

.h5-home {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 3%;
}

.btn-color {
  color: white;
  background-color: $red;
}

.main-button {
  align-items: center;
}

.main-button:hover {
  color: white;
  background-color: rgb(208,45,25);

}

// Title Image

.title-image {
  position: relative;
  height: auto;
}

// Features Section

#features {
  padding: 7% 15%;
  background-color: white;
}

.feature-box {
  color: $black;
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: $black;
  margin-bottom: 1rem;
}

.icon:hover {
  color: $gray;
}

// Testimonials
#testimonials {
  font-family: "Montserrat";
  text-align: center;
  padding: 7% 15%;
  background-color: $black;
  color: white;
}

.str-monster {
  font-weight: 900;
  color: $red;
}

.testimonial-image {
  width: 15%;
  border-radius: 50%;
  margin: 20px;

}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

//cards
#cards-home {
  padding: 7% 15%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.card-image-top {
  background-color: white;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.card-body-home {
  // background-color: $gray;
  color: white;
  box-shadow: 0px 1px 2px 0px rgba(5, 1, 0, 0.7),
            0px 1px 2px 0px rgba(5,1,0,0.7),
            2px 4px 4px 0px rgba(5,1,0,0.7),
            2px 4px 12px 0px rgba(5,1,0,0.7);
}

//footer

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  padding: 0px 50px;
}
.footer-links {
  color: rgb(230, 77, 51);
  display: flex;
}
.footer-links a {
  color: rgb(230, 77, 51);
  opacity: 1.0;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.7;
}
