.card-weight{
  margin-right: 1px;
  margin-left: 5px;
  color: black;
}
.linha-vertical {
  height: 25px;/*Altura da linha*/
  border-color: rgb(0, 0, 0);
  opacity: 50%;
  position: relative;
  border-left: 1px solid;
  margin-top: 13px;
  margin-left: 15px;
  margin-right: 15px;
}
