<section id="title">
  <div class="container-fluid">
<!-- Title -->
<div class="row">
  <div class="col-lg-6">
    <h1>IT'S ALL ABOUT WHAT YOU CAN ACHIEVE</h1>
    <h5>GET FIT, STRONG & MOTIVATED</h5>
    <button type="button" class="btn btn-lg btn-color main-button registration-button"><i class="fa-solid fa-dumbbell"></i> START NOW</button>
  </div>

  <div class="col-lg-6">
    <img class="title-image" src="https://res.cloudinary.com/dzznfliwu/image/upload/v1668208700/Progresso%20Fit/Captura_de_Tela_2022-11-11_a%CC%80s_20.17.58_ehufqz.png">
  </div>
  </div>
</div>
</section>

<!-- Features -->

<section id="features">

  <div class="row">
    <div class="feature-box col-lg-4">
      <i class="icon fa-solid fa-circle-user fa-4x"></i>
      <h3>Easy to use</h3>
      <p>Record your body's evolution</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="icon fa-solid fa-bullseye fa-4x"></i>
      <h3>Focus on evolution</h3>
      <p>Let the shape speak for you</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="icon fa-solid fa-check fa-4x"></i>
      <h3>Result</h3>
      <p>Conquer the body and health of your dreams</p>
    </div>
  </div>

</section>
