<section id="title">
  <div class="container-fluid bg-image">

  <!-- Title -->
  <div class="row">
    <div class="col-lg-6">
      <h1 class="h1-home text-shadow">IT'S ALL ABOUT WHAT YOU CAN ACHIEVE</h1>
      <h5 class="h5-home text-shadow">GET FIT, STRONG & MOTIVATED</h5>
      <div>
      <% if current_user&.height&.nil?  %>
        <%= link_to user_full_profile_path(user_id: current_user&.id), class: "btn btn-lg btn-color main-button registration-button" do %>
          <i class="fa-solid fa-dumbbell"></i> START NOW
        <% end %>
      <% else %>
        <%= link_to profiles_path, class: "btn btn-lg btn-color main-button registration-button" do %>
          <i class="fa-solid fa-dumbbell"></i> START NOW
        <% end %>
      <% end %>
      </div>

    <%# <div class="col-lg-6">
      <img class="title-image" src="https://res.cloudinary.com/dzznfliwu/image/upload/v1668208700/Progresso%20Fit/Captura_de_Tela_2022-11-11_a%CC%80s_20.17.58_ehufqz.png">
    </div> %>
    </div>
  </div>
</section>

<!-- Features -->

<section id="features">

  <div class="row">
    <div class="feature-box col-lg-4">
      <i class="icon fa-solid fa-circle-user fa-4x"></i>
      <h3 class="h3-home">Easy to use</h3>
      <p class="p-home">Record your body's evolution</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="icon fa-solid fa-bullseye fa-4x"></i>
      <h3 class="h3-home">Focus on evolution</h3>
      <p class="p-home">Let the shape speak for you</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="icon fa-solid fa-check fa-4x"></i>
      <h3 class="h3-home">Result</h3>
      <p class="p-home">Conquer the body and health of your dreams</p>
    </div>
  </div>

</section>

<!--Testimonials-->
  <section id="testimonials">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2 class="h2-home">"Now after I started using <strong>ProgressoFit</strong> to track my workouts, I became a <strong class="str-monster">MONSTER</strong>."</h2>
        <img class="testimonial-image" src="https://res.cloudinary.com/dzznfliwu/image/upload/v1668285955/Progresso%20Fit/Captura_de_Tela_2022-11-12_a%CC%80s_17.45.32_zlfzkm.png">
        <em class="em-home"><strong>James Rhodes Warmachine, New York, USA</strong></em>
      </div>
      <div class="carousel-item">
        <h2 class="h2-home">"Using <strong>ProgressoFit</strong>, I was able to focus on what I needed most to become a <strong>CODE MASTER</strong> with a good</strong><strong class="str-monster"> SHAPE</strong>."</h2>
        <img class="testimonial-image" src="https://res.cloudinary.com/dzznfliwu/image/upload/v1668612238/Progresso%20Fit/Captura_de_Tela_2022-11-16_%C3%A0s_12.17.18_ntkpep.png">
        <em class="em-home"><strong>Roberto Barros, São Paulo, BRA</strong></em>
      </div>
      <div class="carousel-item">
        <h2 class="h2-home">"Tracking my workouts with <strong>ProgressoFit</strong> has made my <strong class="str-monster">FITNESS</strong> routine so much easier."</h2>
        <img class="testimonial-image" src="https://res.cloudinary.com/dzznfliwu/image/upload/v1668612836/Progresso%20Fit/Captura_de_Tela_2022-11-16_%C3%A0s_12.32.19_ijxcvr.png">
        <em class="em-home"><strong>Manuela Ferraz, Rio de Janeiro, BRA</strong></em>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </section>

<%# cards %>
<section id="cards-home">
  <div class="container container-cards">
    <div class="row">
      <div class="col">
        <div class="card card-body-home" style="width: 18rem;">
          <img src="https://res.cloudinary.com/dzznfliwu/image/upload/v1669158179/Progresso%20Fit/WhatsApp_Image_2022-11-20_at_08.38.34_wponxl.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col">
        <div class="card card-body-home" style="width: 18rem;">
          <img src="https://res.cloudinary.com/dzznfliwu/image/upload/v1669158183/Progresso%20Fit/WhatsApp_Image_2022-11-20_at_08.38.34_1_oyhlif.jpg" class="card-img-top">
        </div>
      </div>
      <div class="col">
        <div class="card card-body-home" style="width: 18rem;">
          <img src="https://res.cloudinary.com/dzznfliwu/image/upload/v1669158188/Progresso%20Fit/WhatsApp_Image_2022-11-20_at_08.38.34_2_xhjr4u.jpg" class="card-img-top">
        </div>
      </div>
    </div>
  </div>
</section>

<%# footer %>
<section id="footer">
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com"><i class="fab fa-github color-foot"></i></a>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram color-foot"></i></a>
      <a href="https://www.facebook.com/"><i class="fab fa-facebook color-foot"></i></a>
      <a href="https://www.twitter.com/"><i class="fab fa-twitter color-foot"></i></a>
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin color-foot"></i></a>
    </div>
  </div>
</section>
