.btn-outline-red {
  border: 1px solid $red;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  transition: opacity 0.3s ease;
  width: 90%;
  color: $red !important;
  background-color: $background-gray;
}

.btn-outline-red:hover {
  opacity: 1;
  background-color: $red;
  color: white !important;
  font-weight: bold;
}
.btn-outline-gray{
  border: 1px solid #263238;
  border-radius: 50px;
  font-weight: normal;
  color: #4A4A4A;
  transition: opacity 0.3s ease;
  width: 55%;
  height: 38px;
  background-color: $background-gray;
}
.btn-outline-gray:hover {
  opacity: 1;
  border: 1px solid #4A4A4A;
  background-color: #4A4A4A;
  color: white !important;
}
