.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #f23a26db;
  transition: background 0.3s ease;
  width: auto;
}

.btn-flat:hover {
  background: #ab2415db;
  color: white;
}

.btn-search {
  color: white;
  // padding: 0px 25px;
  border-radius: 50px;
  background: #f23a26db;
  transition: background 0.3s ease;
  width: 100%;
  // height: 100%;
  // border: 1px solid white;
}

.btn-search:hover {
  background: #ab2415db;
  color: white;
}
