.btn-frango-weight {
  color: #fefefe;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-frango-weight:hover {
  opacity: 1;
  border: 1px solid #4A4A4A;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #f23a26db;
  transition: background 0.3s ease;
  width: auto;
}

.btn-flat:hover {
  background: #ab2415db;
  color: white;
}
