//card show used in profiles(timeline) and index weight
.card-show {
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 6px;
  padding:40px;
  vertical-align: middle;

  h3 {
    margin-bottom: 0 !important;
  }
}

//new weight card
.photo-preview-weight {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
  width: 150px;
  filter: brightness(150%);
  background-size: cover;
  background-position: center;
  height: 180px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.new-weight-card-body {
  background-color: $gray;
  color: white;
  box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 2px 0px rgba(0,255,255,0.7),
            2px 4px 4px 0px rgba(0,255,255,0.7),
            2px 4px 12px 0px rgba(0,255,255,0.7);
}

.new-weight-card-title {
  font-weight: bold;
}

.new-weight-card-subtitle {
  color: white;
  opacity: 0.8;
}

//show weight card
.card-trip {
  overflow: hidden;
  background: black;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 500px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 2px 0px rgba(0,255,255,0.7),
            2px 4px 4px 0px rgba(0,255,255,0.7),
            2px 4px 12px 0px rgba(0,255,255,0.7);
}

.card-trip > img {
  height: 400px;
  width: 500px;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

//card index weight (previously used in timeline)
.card-index-weight {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // border-radius: 10px;
}

.photo-unleash {
  height: 400px;
  width: 500px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  margin: auto;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.img-index-carousel {
  height: 300px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card-text-posted {
  align-items: center;
  background-color: black;
  color: white;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
}

.card-full-posted-right {
  // border-radius: 0 0 10px 10px;
}
.card-full-posted-left {
  border-radius: 10px 10px 0 0;
}

.card-text-posted h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-text-posted p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

//show de profiles(timeline)
.card-product {
  overflow: hidden;
  height: 300px;
  width: 80%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.carousel-img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

//progress timeline profiles
.card-body-progress {
  background-color: $gray;
  color: white;
}

.card-title-progress {
  background-color: white;
  color: $red;
}

.card-progress {
  border-color: silver;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  width: 100%;

  .fa-dumbbell {
    color: $red;
  }

  .fa-calendar-days {
    color: $red;
  }
}

@media(min-width: 992px) {
  .card-progress {
    width: 49%;
  }
}
