.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

// Navigation Bar

.navbar {
  padding: 0 0 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
  font-family: "Montserrat";
  font-weight: 300;
  color: white;
}

.registration-button {
  margin: 5% 3% 5% 0;
}

.navbar-color {
  background-color: #000000;
}
