// .progress-bar {
//   height: 20px;
//   background-image:
//   linear-gradient(
//     to right,
//     red,
//     #f06d06,
//     rgb(255, 255, 0),
//     green
//     rgb(255, 255, 0),
//     #f06d06,
//     red,
//     );
//     background-color: red;
// }
.progress-bar {
height: 50px;
border-radius: 6px;
background-image:
linear-gradient(
  to right,
  rgb(0, 238, 255),
  green,
  rgb(255, 255, 0),
  #f06d06,
  red
);
}
